pandas==2.2.3
numpy>=2.3.0
matplotlib>=3.8.0
streamlit>=1.25.0
sentence-transformers>=2.2.2
transformers>=4.44.0
torch>=2.2.0
faiss-cpu>=1.7.4
openai>=1.29.0
python-dotenv>=1.0.1
huggingface-hub>=0.34.2